*{
    margin: 0px;
    font-family: "inter";
}

 /* ===== TOPO ===== */
#Topo {
    background-color: #303030;
    color: #fff;
    width: 100%;
    padding-top: 150px; 
    padding-bottom: 150px; 
}

#cabecalho {
    margin-top: 206px ;
    margin-left: 62px; 
    font-size: 72px;
    font-weight: bold;
}

#subcabecalho {
  font-size: 20px;
  font-weight: normal; 
  margin-left: 62px; 
}

/* ===== Conteudo ===== */
#conteudo{

    background-color: #F9F9F9;
    padding-left: 32px;
}


.metricas {
    display: flex;
    justify-content: flex-start; 
    gap: 200px; 
    margin-left: 300px;
    padding-top: 30px; 

}

.coluna {
    text-align: left;
}


.metricas h1,
.metricas h2,
.metricas h3 {
    font-size: 20px;
    margin: 0;
}


.numero {
    font-weight: bold;
    font-size: 40px;
    display: block;
    margin-bottom: -10px;
    
}

h2 .numero { font-size: 40px; }
h3 .numero { font-size: 40px; }

/* ===== Itermediario ===== */
#intermedio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;        
    padding: 80px 0;
}


#intermedio .texto {
    width: 735px;     
}


#titulo {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px; 
    margin: 0 0 20px 0;
    text-align: left;
}


#texto2 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    text-align: left;
}

#imagem-direita {
    width: 420px;
    border-radius: 16px;
    object-fit: cover;
}


/* ===== RODAPÉ ===== */

#rodape {
    background-color: #303030;
    padding: 60px 0;
    text-align: center;
    color: white;
}

#titulo-rodape {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

/* Formulário */
#form-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Campos */
.campo {
    width: 380px;
    padding: 14px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    outline: none;
}

/* Botão */
#btn-rodape {
    background-color: #C2782B;  
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}

#btn-rodape:hover {
    opacity: 0.8;
}



